html {
    min-height: 100%;
    margin: auto;
}

body {
    background-color: #aaa;
    text-align: center;
    min-height: 100%;
    margin: auto;
}

#canvas {
    border: 1px solid #000;
    background-color: #888;
    min-width: 95%;
    min-height: 95%;
    margin: auto;
    margin: 10px;
}